:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,172,253,1) 100%);
}
